<h1>New signup</h1>

<%= form_for(@signup) do |f| %>
 <% @signup.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
   <% end %>


  <p>
    <%= f.label :volunteer_id %><br />
    <%= f.text_field :volunteer_id %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :tix_ad %><br />
    <%= f.text_field :tix_ad %>
  </p>
  <p>
    <%= f.label :tix_st %><br />
    <%= f.text_field :tix_st %>
  </p>
  <p>
    <%= f.label :tix_ch %><br />
    <%= f.text_field :tix_ch %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', signups_path %>
