<div id="home">
<br>
Output file bs:<%=@db_bs%> <br>
Output file camp:<%=@db_camp%> <br>
Output file wedding:<%=@db_wed%> <br>
Backup result: <%=@result%><br>
<br>
Now get the files by<br>
ftp cranberryjam.ca<br>
User: rails<br>
Password: bnm567<br>
cd blueskies <br>
mget <%=@d%>*.sqlite3<br>
<br>

</div>