<div id="area" class="rainbow2">
<h1>Domains</h1>


  <table class="centertable" cellspacing="20">
  <tr>

  <% @areas.each do |area| %>
  <% if area == @current_area %>
  <td ><%= link_to  area.name, {:action => :set_area, :id => area.id }, :class => "area_selected" %></td>
  <% else %>
  <td ><%= link_to  area.name, {:action => :set_area, :id => area.id }, :class =>"area_unselected"  %></td>
  <% end %>
  <% end %>
  <% if @current_area.nil? %>
  <td > <%= link_to 'All areas', { :controller => 'admin', :action => 'unset_area'}, :class => "area_selected" %></td>
  <% else %>
  <td > <%= link_to 'All areas', { :controller => 'admin', :action => 'unset_area'}, :class => "area_unselected" %></td>
  <% end %>

  </tr>

  </table>
<p>
Current: <%=  @current_name%> 
<p>
	
</div>
