<div id="area">
<h1>Choose a domain </h1>
Currently in: <%=  @current_name%> 


  <table align="center" class="areaclass" cellspacing="20">
  <tr>

  <% @areas.each do |area| %>
  <% if area == @current_area %>
  <td ><%= link_to  area.name, {:action => :set_area, :id => area.id }, :class => "area_selected" %></td>
  <% else %>
  <td ><%= link_to  area.name, {:action => :set_area, :id => area.id }, :class =>"area_unselected"  %></td>
  <% end %>
  <% end %>
  <% if @current_area.nil? %>
  <td > <%= link_to 'All areas', { :controller => 'admin', :action => 'unset_area'}, :class => "area_selected" %></td>
  <% else %>
  <td > <%= link_to 'All areas', { :controller => 'admin', :action => 'unset_area'}, :class => "area_unselected" %></td>
  <% end %>

  </tr>

  </table>

  </table>
	
</div>
