<div id="schedule">
<h1> <%=h @schedule.title %> / <%=h status(@schedule.status) %> / Shifts assigned: <%=h @n_assigned %> <span class="buttons" ><%= button_to 'Assign Shifts', url_for(:action=> 'assign', :id=>@schedule.id), :method=>'get' if @schedule.status!=2 %></span></h1>

<h3> Key view / Each row shows a key volunteer's shifts. <span class="buttons"><%= button_to 'Print', :controller => :schedules, :action => :print, :id => @schedule.id %>
<%= button_to 'Save', :controller => :schedules, :action => :save, :id => 2 %></span>
</h3>
<p>  
  <%=h @schedule.description %>
</p>


<%= @message %>
 
 
 
 <!-- Each row is a volunteer -->
 <table>
	<%= timeheader(@tms)%>
   	<% @ppl_sh_s.each do |k|  %>
 	<%= vol_row(k,@ppl_sh[k],@tms)%>
	<% end %>
  </table>
 
 <!-- Each row is a timeslot -->
 <h3> Hat view / Each row shows who's on that time <span class="buttons"><%= button_to 'Print', :controller => :schedules, :action => :print2, :id => @schedule.id %><%= button_to 'Save', :controller => :schedules, :action => :save2, :id => @schedule.id %></span></h3>

<!--
<table >
  <tr class="locations" > <td><%=h @schedule.year%></td> 
	<% @locations.each do |l| %>
		<th width="40"><%=l.name%></th>
	<% end %> 
  </tr>
    <span class="sched-form-button" >
<% shift=@shifts[0] %>
<% i=0 %>
  <% @schedule.shifttimes_per_day.each do |d| %>  
	<tr><th class="days" colspan=<%=@x%>><%= shift.start.localtime.strftime("%a %b %d, %Y") %></th></tr>
	<% d.each do |t| %>
		<tr> <td class="times"><%= @shifts[i].start.localtime.strftime("%l%p").downcase %></th>
		<% @schedule.locations.each do |loc|%>
		          <% name=' ' %>
			  <% name=shift.volunteer.name if shift.volunteer %>
			<td><span class="sched-form-button" ><%= name%></span></td>
			<%i=i+1%>
			<%shift=@shifts[i]%>
		<%end%></tr>
	<% end %>
  <% end %>
  </table>
-->
<table border="1" >
  <tr class="locations" > <td/> <% @locations.each do |l| %><th width="40"><%=l.name%></th><% end %> </tr>
  <% @shift_days.keys.each do |d| %>
        <tr><th class="days" colspan=<%=@x%>><%= @shift_days[d][0].start.strftime("%a, %b %d, %Y") %></th></tr>
        <% shift_hours=@shift_days[d].group_by{|x| x.start.hour} %>
        <% shift_hours.keys.each do |t| %>
                <tr> <th class="times" ><%= shift_hours[t][0].start.localtime.strftime("%I %p")%></th>
                <% shift_hours[t].each do |loc|%>
                          <% name=' ' %>
                          <% name=loc.volunteer.name if loc.volunteer%>
                          <% bname='button'+loc.id.to_s() %>
                        <td><%= name %></td>
                <%end%></tr>
        <% end %>
  <% end %>

</table>


<%= link_to 'Back', schedules_path %>

</div>
