<div id="news">
<h2>News</h2>
<table><tr><td>
<p>Here are the updates to the schedule after the draft is complete.
If you'd like to switch any of your shifts you can post a request here so that others can offer their shift, saving the bottleneck at the hats.
Please post any other comments here too.</p>
</td><td><p style="text-align:right"><span class="fontb"> Only <%=@sleeps%> more sleeps until BLUE SKIES!</span></td></tr></table>

<div id="pref">
<table>
<% if session[:volunteer_id] %>
<tr class="<%= cycle('list-line-even', 'list-line-odd') %>">
    <td>
    <%= @comment.id %>
    </td>        
    <td >
    <%= (Time.now).to_s(:short) %>
    </td>        
    <td><%= @volunteer.name if @volunteer %></td>
    <!--% form_tag(:url=>{:action=>:new_entry}) do %--> 
    <%= form_for @comment, :url=>{:action=>:new_entry} do |f| %> 
    <td><%= f.text_area :entry, :size => "80x5" %><span class="pref-form-button" align="top" ><%= submit_tag 'Post' %></span></td>
    <% f.hidden_field :volunteer_id %>
    
    <% end %>
</tr>
<% end %>
<% @comments.each do |c| %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even')%>">
    <td>
    <%= c.id %>
    </td>        
    <td class="tim">
    <%= (c.created_at).to_s(:short) %>
    </td>        
<td>
    <%= c.volunteer.name %>
    </td>    
    <td><%= trc(c) %></td>
  </tr>
<% end %>
</table>
</div>
</div>
<br />

