<h1>Editing shift</h1>
Don't edit start or location!
<% form_for(@shift) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start %><br />
    <!--%= f.datetime_select :start %-->
  </p>
  <p>
    <%= f.label :location %><br />
    <!--%= f.text_field :location %-->
  </p>
 <p>
    <%= f.label :volunteer %><br />
    <%= select(:shift, "volunteer_id", Volunteer.find(:all).collect{ |v| [ v.name, v.id]}) %> 
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @shift %> |
<%= link_to 'Back', shifts_path %>