<h1>New shift</h1>

<%= form_for(@shift) do |f| %>
 <% @shift.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
   <% end %>


  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </p>
  <p>
    <%= f.label :location %><br />
<%= select("shift", "location_id", Location.all.collect{ |loc| [ loc.name, loc.id] }) %>
     <%= link_to 'New location', locations_path %>
<p>
   
<%= f.label :volunteer %><br />
<%= select("shift", "volunteer_id", Volunteer.all.collect{ |v| [ v.name, v.id] }, {:include_blank => 'nobody'}) %>
<%= link_to 'New volunteer', volunteers_path %>
</p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', shifts_path %>
