<h1>New location</h1>

<%= form_for(@location) do |f| %>
 <% @location.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
   <% end %>


  <table>
    <tr><td><%= f.label :name %>  </td><td> <%= f.text_field :name %></td></tr>
     <tr><td><%= f.label :area %></td><td><%= area_choices("location") %></td></tr>
	
  <table>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', locations_path %>
